* {
  padding: 0px;
  margin: 0px;   
  font-size: 16px 
}
h3 {
  color: #85868f  
}
li {
  list-style: none;    
}
.commonw {
  max-width: 1200px;  
  margin: 0px auto;
  padding: 0px;
}
.head {
  width: 90px;
  height: 90px;
}

